<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fall2018.csc2017">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="fall2018.csc2017.gamelauncher.LoginActivity"
            android:theme="@style/FinalTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".slidingtiles.SlidingGameActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".matchingcards.MatchingGameActivity"
            android:theme="@style/FinalTheme" />
        <activity android:name="fall2018.csc2017.scoring.LeaderBoardActivity"/>
        <activity
            android:name="fall2018.csc2017.gamelauncher.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="fall2018.csc2017.connectfour.FourGameActivity"/>
    </application>

</manifest>